
body {
    background-color: lightgray;
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

header {
    background-color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    float: left;
    font-size: 30px;
    margin: 10px;
    padding-left: 10px;
}

.left {
    margin-left: 0
}

.right {
    width: 400px;
}





.navi-right {
    display: inline-flex;
    float: right;
    padding-right: 20px;
}

.navi-name {
    padding: 10px;
}

.navi-out {
    padding: 10px;
    color: #689eca;
    text-decoration:none;
}

.storypanel {
    margin-top: 15px;
    width: 500px;
    background-color: white;
    padding: 8px;
    border: #efefef solid 1px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: auto;
    background-color: white;
    padding: 1px;
    flex-direction: column;
}

.card > img {
    width: 70px;
    border-radius:50%;
    border: solid 2px #d0d0d0;
}

.card > div {
    color: #a2a2a2;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.post {
    margin-top: 10px;
    width: 516px;
    background-color: white;
    border: #efefef solid 1px;
    /* display: flex; */
}

.post > .header {
    height: 20px;
    padding: 12px 8px;
}

.post > .header > .username {
    font-size: larger;
    display: inline-block;
    /* display: flex; */
}

.header > i {
    float: right;
}

.postimg {
    width: 100%;
    height: auto;
}

.post > .icon {
    margin-left: 5px;
    margin-right: 5px;
}

.icon > i {
    font-size: larger;
    padding: 5px;
    color: rgb(42, 42, 42);
}

.like {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.like > span {
    padding-right: 5px;
}

.tweet {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tweet > span {
    font-weight: bold;

}

.tweet > a {
    color: #689eca;
    text-decoration:none;
}
.commit {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.commit > .user {
    padding-bottom: 5px;
}
.commit > .user > span {
    font-weight: bold;
}
.commit > .time {
    color: rgb(159, 159, 159);
    font-size: small;
    padding-bottom: 2px;
}


.reply {
    border-top: #efefefdb solid 1px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.reply > i {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: large;
}
.reply > input {
    width: 80%;
    border: none;
    border-bottom: #efefef solid 1px;
    padding: 5px;
}
.reply > .button {
    float: right;
    padding-top: 2px;
    padding-right: 12px;
    color: #689eca;
    text-decoration:none;
}

.font {
    font-family: 'Comfortaa', cursive;
}

.rec-self {
    display: flex;
    align-items: center;
}
.rec-self *{
    margin: 10px;
}

.Recommendation-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px;
}

.rec-self > img {
    width: 70px;
    border-radius: 50%;
    border: solid 2px #d0d0d0;
}

.rec-self > div {
    font-size: x-large;
}

.rec-bar {
    font-weight: bold;
    font-size: large;
    color: #a2a2a2;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.rec-info {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rec-info > img {
    width: 50px;
    border-radius: 50%;
    border: solid 2px #d0d0d0;
}

.rec-sug-username {
    font-size: large;
    font-weight: bold;
}

.rec-sug-text {
    font-size: 15px;
    color: #a2a2a2;
}

.rec-content {
    width: 130px;
}

.rec-follow {
    color: #689eca;
    text-decoration:none;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .Recommendation-panel {
        display: none;
    }
}

/* how you would add a feature so users can easily add alt-text to their images?
A: For Instagram-like apps, users usually write a commit, so the most direct approach is to directly prompt the user to add the intro text for Alt-text in the next line.
If the user leaves a white space, an AI approach can be used, where the user uploads an image is using target recognition, generating potential image tags and providing the user with the choice of the appropriate tag. NLP algorithms are then used to generate statements with logic.
If the user does not select a label, the text in the image is recognized using the label generated by the target recognition algorithm and the OCR algorithm, which is input to the NLP algorithm to generate natural statements as Alt-text. */