@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

/********** navigation bar start **********/
header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    font-family: 'Comfortaa', serif;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    padding-left: 20px;
}

.user {
    display: flex;
    font-family: 'Nunito', serif;
    font-size: 20px;
    margin: 10px;
    padding-right: 20px;
}

.user_name {
    padding: 5px;
}

.user_signout {
    color: cornflowerblue;
    margin-left: 10px;
    padding: 5px;
    text-decoration:none;
}
/********** navigation bar end **********/

/********** recommendations panel start **********/
.recommendations_panel {
    margin: 20px;
    position: fixed;
    right:0;
    width: 400px;
}

.profile {
    align-items: center;
    display: flex;
    padding-left: 5px;
}

.profile_pic {
    border-radius: 50%;
    width: 75px;
}

.profile_name {
    margin-left: 20px;
    font-family: 'Comfortaa', serif;
    font-size: xx-large;
    font-weight: bold;
}

.suggestions {
    padding: 5px;
}

.suggestions_text {
    color: gray;
    font-family: 'Poppins', serif;
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.suggestions_unit {
    align-items: center;
    display: flex;
    font-family: 'Poppins', serif;
}

.suggestions_unit_pic {
    width: 50px;
    border-radius: 50%;
    border: solid 2px darkgray;
}

.suggestions_unit_body {
    margin-left: 10px;
    padding: 15px;
}

.suggestions_unit_body_name {
    font-size: large;
    font-weight: bold;
}

.suggestions_unit_body_text {
    font-size: 15px;
    color: gray;
}

.suggestions_unit_follow {
    color: cornflowerblue;
    margin: 15px;
    text-decoration: none;
}
/********** recommendations panel end **********/

/********** story panel start **********/
.story_panel {
    background-color: white;
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

.story_panel_unit {
    margin-right: 10px;
    padding: 5px;
}

.story_panel_unit_pic {
    border: solid 3px lightgray;
    border-radius: 50%;
    width: 50px;
}

.story_panel_unit_name {
    color: darkgray;
    font-family: 'Poppins', serif;
    font-size: 15px;
    text-align: center;
}
/********** story panel end **********/

/********** card start **********/
.card {
    background-color: white;
    border: darkgray solid 1px;
    margin-top: 10px;
    width: 600px;
}

.card_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card_header_name {
    font-family: 'Comfortaa', serif;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

.card_header_icon {
    padding: 10px;
}

.card_img {
    width: 100%;
    height: auto;
}

/********** card start **********/



.postimg {
    width: 100%;
    height: auto;
}

.post > .icon {
    margin-left: 5px;
    margin-right: 5px;
}

.icon > i {
    font-size: larger;
    padding: 5px;
    color: rgb(42, 42, 42);
}

.like {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.like > span {
    padding-right: 5px;
}

.tweet {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tweet > span {
    font-weight: bold;

}

.tweet > a {
    color: #689eca;
    text-decoration:none;
}
.commit {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.commit > .user {
    padding-bottom: 5px;
}
.commit > .user > span {
    font-weight: bold;
}
.commit > .time {
    color: rgb(159, 159, 159);
    font-size: small;
    padding-bottom: 2px;
}


.reply {
    border-top: #efefefdb solid 1px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.reply > i {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: large;
}
.reply > input {
    width: 80%;
    border: none;
    border-bottom: #efefef solid 1px;
    padding: 5px;
}
.reply > .button {
    float: right;
    padding-top: 2px;
    padding-right: 12px;
    color: #689eca;
    text-decoration:none;
}

.font {
    font-family: 'Comfortaa', cursive;
}


@media only screen and (max-width: 1000px) {
    .Recommendation-panel {
        display: none;
    }
}

/* how you would add a feature so users can easily add alt-text to their images?
A: For Instagram-like apps, users usually write a commit, so the most direct approach is to directly prompt the user to add the intro text for Alt-text in the next line.
If the user leaves a white space, an AI approach can be used, where the user uploads an image is using target recognition, generating potential image tags and providing the user with the choice of the appropriate tag. NLP algorithms are then used to generate statements with logic.
If the user does not select a label, the text in the image is recognized using the label generated by the target recognition algorithm and the OCR algorithm, which is input to the NLP algorithm to generate natural statements as Alt-text. */