<div class="recommendations_panel">
    <div class="profile">
        <img class="profile_pic" src="{{ user.get('image_url') }}" alt="profile_{{ user.get('username') }}">
        <h2 class="profile_name">{{ user.get('username') }}</h2>
    </div>

    <div class="suggestions">
        <div class="suggestions_text" >Suggestions for you</div>

        {% for suggest in suggestions %}
            <div class="suggestions_unit">
                <img class="suggestions_unit_pic" src="{{ suggest.get('image_url') }}" alt="pic_{{ suggest.get('username') }}">
                <div class="suggestions_unit_body">
                    <div class="suggestions_unit_body_name">{{ suggest.get('username') }}</div>
                    <div class="suggestions_unit_body_text">suggested for you</div>
                </div>
                <a class="suggestions_unit_follow" href="#">follow</a>
            </div>
        {% endfor %}
    </div>
</div>