<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Photo App</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

        <script type="text/javascript">
            const userInfo = "{{user.id}}";
        </script>
        <script lang="text/javascript" src="/static/js/hw04.js" defer></script>
    </head>

    <body>
        {% include 'includes/navibar.html' %}

        <main>
            {% include 'includes/suggestions.html' %}

            <div class="main_body">
                {% include 'includes/stories.html' %}

                {% include 'includes/cards.html' %}
            </div>
        </main>

    </body>
</html>

<!--  How you would add a feature so users can easily add alt-text to their images?
I would like to add a double click event for all pictures. This event will start an animation that flips the pictures
and then show the alt-text or "no alt-text" and an edit button. User can easily find the entrance of adding alt-text.
I will also add this to the "help" page.
-->